{% extends 'base.html' %}

{% block title %}
Records
{% endblock %}

{% block body %}

<div class="container mt-5">

    <h1 class="text-center mb-5 display-3">
        Database Records
    </h1>

    <table class="table table-bordered table-striped bg-white">

        <thead class="table-dark">

            <tr>
                <th>ID</th>
                <th>Farmer Code</th>
                <th>Farmer Name</th>
                <th>Phone</th>
                <th>Farming Type</th>
                <th>Crop Name</th>
                <th>Season</th>
                <th>Timestamp</th>
            </tr>

        </thead>

        <tbody>

            {% for record in farming_records %}

            <tr>

                <td>{{ record.id }}</td>

                <td>
                    {{ farmer_data.get(record.fid, {}).get('code', 'FM000') }}
                </td>

                <td>
                    {{ farmer_data.get(record.fid, {}).get('name', 'Unknown Farmer') }}
                </td>

                <td>
                    {{ farmer_data.get(record.fid, {}).get('phone', 'N/A') }}
                </td>

                <td>
                    {{ farmer_data.get(record.fid, {}).get('farming', 'N/A') }}
                </td>

                <td>{{ record.crop }}</td>

                <td>{{ record.season }}</td>

                <td>{{ record.timestamp }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}